# Country Club SQLite Case Study
Springboard Assignment
<br>Tiffany Flor

In [6]:
import sqlite3

In [18]:
from sqlite3 import Error

def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

In [20]:
# Q10 QUERY:Produce a list of facilities with a total revenue less than 1000.
# The output of facility name and total revenue, sorted by revenue. Remember
# that there's a different cost for guests and members!

def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = "SELECT book_fac.name AS facility_name, sum(book_fac.revenue) AS total_rev FROM (SELECT b.memid, b.facid, f.name, CASE WHEN b.memid <> 0 THEN f.membercost * b.slots * 2 ELSE f.guestcost * b.slots * 2 END AS revenue FROM Bookings as b INNER JOIN Facilities AS f ON b.facid = f.facid) AS book_fac GROUP BY facility_name HAVING total_rev < 1000 ORDER BY total_rev;"
        
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [21]:
# Q10 ANSWER
database = "sqlite_db_pythonsqlite.db"
 
# create a database connection
conn = create_connection(database)
with conn: 
    print("2. Query all tasks")
    select_all_tasks(conn)

2.6.0
2. Query all tasks
('Table Tennis', 360)
('Snooker Table', 480)
('Pool Table', 540)

In [34]:
# Q11 QUERY: Produce a report of members and who recommended them in alphabetic surname,firstname order

def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = "SELECT m.surname || ', ' || m.firstname || ' RECOMMENDED BY ' || r.surname || ', ' || r.firstname FROM Members AS m INNER JOIN Members AS r ON m.recommendedby = r.memid WHERE m.memid <> 0 AND r.memid <> 0 ORDER BY m.surname, m.firstname;"

    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [35]:
# Q11 ANSWER
database = "sqlite_db_pythonsqlite.db"
 
# create a database connection
conn = create_connection(database)
with conn: 
    print("2. Query all tasks")
    select_all_tasks(conn)

2.6.0
2. Query all tasks
('Bader, Florence RECOMMENDED BY Stibbons, Ponder',)
('Baker, Anne RECOMMENDED BY Stibbons, Ponder',)
('Baker, Timothy RECOMMENDED BY Farrell, Jemima',)
('Boothe, Tim RECOMMENDED BY Rownam, Tim',)
('Butters, Gerald RECOMMENDED BY Smith, Darren',)
('Coplin, Joan RECOMMENDED BY Baker, Timothy',)
('Crumpet, Erica RECOMMENDED BY Smith, Tracy',)
('Dare, Nancy RECOMMENDED BY Joplette, Janice',)
('Genting, Matthew RECOMMENDED BY Butters, Gerald',)
('Hunt, John RECOMMENDED BY Purview, Millicent',)
('Jones, David RECOMMENDED BY Joplette, Janice',)
('Jones, Douglas RECOMMENDED BY Jones, David',)
('Joplette, Janice RECOMMENDED BY Smith, Darren',)
('Mackenzie, Anna RECOMMENDED BY Smith, Darren',)
('Owen, Charles RECOMMENDED BY Smith, Darren',)
('Pinker, David RECOMMENDED BY Farrell, Jemima',)
('Purview, Millicent RECOMMENDED BY Smith, Tracy',)
('Rumney, Henrietta RECOMMENDED BY Genting, Matthew',)
('Sarwin, Ramnaresh RECOMMENDED BY Bader, Florence',)
('Smith, Jack RECOMMENDED BY Smith, Darren',)
('Stibbons, Ponder RECOMMENDED BY Tracy, Burton',)
('Worthington-Smyth, Henry RECOMMENDED BY Smith, Tracy',)

In [36]:
# Q12 QUERY: Find the facilities with their usage by member, but not guests

def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = "SELECT f.name AS 'Facility', (COUNT(*)*b.slots) AS 'Usage' FROM Bookings AS b INNER JOIN Facilities AS f ON b.facid = f.facid WHERE memid <> 0 GROUP BY f.name;"

    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [37]:
# Q12 ANSWER
database = "sqlite_db_pythonsqlite.db"
 
# create a database connection
conn = create_connection(database)
with conn: 
    print("2. Query all tasks")
    select_all_tasks(conn)

2.6.0
2. Query all tasks
('Badminton Court', 1032)
('Massage Room 1', 842)
('Massage Room 2', 54)
('Pool Table', 783)
('Snooker Table', 842)
('Squash Court', 390)
('Table Tennis', 770)
('Tennis Court 1', 924)
('Tennis Court 2', 828)

In [42]:
# Q13 QUERY: Find the facilities usage by month, but not guests
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = "SELECT f.name AS 'Facility', strftime('%m',starttime) as 'Month', (COUNT(*)*b.slots) AS 'Usage' FROM Bookings AS b INNER JOIN Facilities AS f ON b.facid = f.facid WHERE memid <> 0 GROUP BY strftime('%m',starttime), f.name ORDER BY f.name, strftime('%m',starttime);"

    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [43]:
# Q13 ANSWER
database = "sqlite_db_pythonsqlite.db"
 
# create a database connection
conn = create_connection(database)
with conn: 
    print("2. Query all tasks")
    select_all_tasks(conn)

2.6.0
2. Query all tasks
('Badminton Court', '07', 153)
('Badminton Court', '08', 792)
('Badminton Court', '09', 483)
('Massage Room 1', '07', 154)
('Massage Room 1', '08', 306)
('Massage Room 1', '09', 382)
('Massage Room 2', '07', 8)
('Massage Room 2', '08', 18)
('Massage Room 2', '09', 28)
('Pool Table', '07', 103)
('Pool Table', '08', 544)
('Pool Table', '09', 408)
('Snooker Table', '07', 136)
('Snooker Table', '08', 308)
('Snooker Table', '09', 398)
('Squash Court', '07', 46)
('Squash Court', '08', 170)
('Squash Court', '09', 174)
('Table Tennis', '07', 96)
('Table Tennis', '08', 286)
('Table Tennis', '09', 388)
('Tennis Court 1', '07', 195)
('Tennis Court 1', '08', 333)
('Tennis Court 1', '09', 396)
('Tennis Court 2', '07', 123)
('Tennis Court 2', '08', 981)
('Tennis Court 2', '09', 378)